<h2>About Entheo Blogger</h2>

<p>
  Entheo Blogger was made to develop a better understanding of using Ember.js all while exploring the realm of what have come to be known as entheogenic substances.  This particular project will hopefully evolve into a fully operational blog representing a variety of entheogens used for awakening the mind, body, and spirit!
</p>

{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
