<h1> Welcome to Entheo Blogger </h1>

We hope you find the sacrement that is right for you!!

<ul>
  {{#each model as |entheogen|}}
    {{entheogen-tile entheogen=entheogen}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
