<h1> Welcome to Entheo Blogger </h1>

<h2>We hope you find the sacrement that is right for you!!!</h2>

<ul>
  {{#each model as |entheogen|}}
    {{entheogen-tile entheogen=entheogen}}
  {{/each}}
</ul>

{{new-post savePost="savePost"}}

<div class="bottom">
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Click here to contact us.{{/link-to}}
</div>
